<!--import eshop_basic.html page -->
{% extends 'basic_seller.html' %}

<!--add title for this page-->
{% block title %}eStore{% endblock %}

<!--add navbar brand for this page-->
{% block nav-brand %}<span style="font-family: 'Baloo Tammudu 2', cursive;">eStore</span>{% endblock %}

<!--add home navigation-->
{% block nav-home %}<a href="/" class="nav-link active">Home</a>{% endblock %}

<!--add contact navigation-->
{% block nav-contact %}<a href="/contact/" class="nav-link">Contact</a>{% endblock %}

<!--add about navigation-->
{% block nav-about %}<a href="/about/" class="nav-link">About</a>{% endblock %}



<!---static directory-->
{% load static %}

<!--Home page body-->
{% block body %}
<div class="alert alert-success container" role="alert">
    <h4 class="alert-heading">Account Created!</h4>
    <p> Your User Name: <strong>{{username}}</strong> </p>
    <hr>
    <p>Please Login to Continue....</p>
    
</div>
{% endblock %}

<!--Footer Block for Home Page-->
{% block footer %}

{% endblock %}

<!--block javascript-->
{% block javaScript %}

{% endblock %}