<!--Extend eshop_basic.html-->
{% extends 'basic.html' %}

<!--Required Title-->
{% block title %}eStore | About{% endblock %}

<!--Required nav brand-->
{% block nav-brand %}<span style="font-family: 'Baloo Tammudu 2', cursive;">eStore | About</span>{% endblock %}

<!--add home navigation-->
{% block nav-home %}<a href="/" class="nav-link">Home</a>{% endblock %}

<!--add contact navigation-->
{% block nav-contact %}<a href="/contact/" class="nav-link">Contact</a>{% endblock %}

<!--add about navigation-->
{% block nav-about %}<a href="" class="nav-link active">About</a>{% endblock %}


