<!--import eshop_basic.html page -->
{% extends 'basic_seller.html' %}

<!--add title for this page-->
{% block title %}eStore{% endblock %}

<!--add navbar brand for this page-->
{% block nav-brand %}<span style="font-family: 'Baloo Tammudu 2', cursive;">eStore | Success</span>{% endblock %}

<!--add home navigation-->
{% block nav-home %}<a href="" class="nav-link active">Home</a>{% endblock %}

<!--add contact navigation-->
{% block nav-contact %}<a href="/contact/" class="nav-link">Contact</a>{% endblock %}

<!--add about navigation-->
{% block nav-about %}<a href="/about/" class="nav-link">About</a>{% endblock %}



<!---static directory-->
{% load static %}

<!--Home page body-->
{% block body %}

<div class="container d-flex justify-content-center">
    <div class="card" style="width:30%;margin-top:10%;">
        <div class="card-header">
            <div class="alert alert-success" style="font-size:30px;">  <span class="text-success" style="font-size:30px;"><i class="fas fa-check"></i></span>&nbsp;&nbsp;&nbsp;Success</div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{message}}</h5>
        </div>
    </div>
</div>
{% endblock %}

<!--Footer Block for Home Page-->
{% block footer %}
<div class="container-fluid" style="background-color: rgba(211, 211, 211, 0.767); margin-top: 350px;">
    <div class="row mt-3" style="height:200px;">
        <div class="col" style="max-width:400px ;">
            <img class="img-fluid" src="{% static 'footer_logo_gray.png'%}">
        </div>
        <div class="col" style="max-height: 400px;">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Links</th>
                        <th scope="col">Guide</th>
                        <th scope="col">User Account</th>
                        <th scope="col">Seller Account</th>
                    </tr>
                </thead>
                <tbody>
                    <!--table row 1-->
                    <tr>
                        <!--table data for Llinks-->
                        <td style="font-size: smaller;">Home</td>
                        <!--table data for Guid-->
                        <td style="font-size: smaller;">How to Signup?</td>
                        <!--table data for user-->
                        <td style="font-size: smaller;"><a class="text-dark" role="button" href="#" id="userloginbtn"
                                style="text-decoration: none;">User Login</a></td>
                        <!--table data for vendor-->
                        <td style="font-size: smaller;"><a href="/account/seller/" class="text-dark"
                                style="text-decoration: none">Seller Login</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: smaller;">Contact Us</td>
                        <td style="font-size: smaller;">How to Login?</td>
                        <td style="font-size: smaller;"><a class="text-dark" style="text-decoration: none;"
                                href="/account/buyer/registration/">User Signup</a></td>
                        <td style="font-size: smaller;">Seller Signup</td>
                    </tr>
                    <tr>
                        <td style="font-size: smaller;">About Us</td>
                        <td style="font-size: smaller;">How to add product?</td>
                        <td style="font-size: smaller;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col" style="max-width: 200px;">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Address</th>
                    </tr>
                </thead>
                <tbody>
                    <!--table row 1-->
                    <tr>
                        <!--table data for Address-->
                        <td style="font-size: smaller;">
                            21/6 CA Road,<br>
                            New York City,1800800
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center" style="text-align: center;font-size: smaller;">
        <p>copyright@2021</p>
    </div>
</div>
{% endblock %}

<!--block javascript-->
{% block javaScript %}
<script>

</script>
{% endblock %}