<!--import eshop_basic.html page -->
{% extends 'basic_seller.html' %}

{% load static %}

<!--block header-->
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}

<!--add title for this page-->
{% block title %}eStore{% endblock %}

<!--add navbar brand for this page-->
{% block nav-brand %}<span style="font-family: 'Baloo Tammudu 2', cursive;">eStore | Update Product Details</span>{% endblock %}

<!--add home navigation-->
{% block nav-home %}<a href="#" class="nav-link active">Home</a>{% endblock %}

<!--add contact navigation-->
{% block nav-contact %}<a href="/contact/" class="nav-link">Contact</a>{% endblock %}

<!--add about navigation-->
{% block nav-about %}<a href="/about/" class="nav-link">About</a>{% endblock %}


<!--Style for dashboard-->
{% block style %}
<style>
    body {
        background-color: #F2F3F3;
    }

    .sproduct select {
        padding: 0.3rem 0.7rem;
        background-color: ghostwhite;
    }

    .cart-btn {
        width: 10rem;
        padding: 0.2rem;
        border-radius: 1rem;
        background-color: orange;

    }

    .buy-btn {
        width: 10rem;
        padding: 0.2rem;
        margin-left: 1rem;
        border-radius: 1rem;
        background-color: orange;
    }

    .product {
        cursor: pointer;
        margin-bottom: 2rem;
    }

    .product img {
        transition: 0.3s all;
    }

    .product:hover img {
        opacity: 0.7;
    }

    .product .buy-btn {
        transform: translateY(20px);
        opacity: 0;
        transition: 0.3s all;
    }

    .product:hover .buy-btn {
        transform: translateZ(30px);
        opacity: 1;

    }

    html.magnifying>body {
        overflow-x: hidden !important;
    }

    .magnify,
    .magnify>.magnify-lens,
    .magnify-mobile,
    .lens-mobile {
        /* Reset */
        min-width: 0;
        min-height: 0;
        animation: none;
        border: none;
        float: none;
        margin: 0;
        opacity: 1;
        outline: none;
        overflow: visible;
        padding: 0;
        text-indent: 0;
        transform: none;
        transition: none;
    }

    .magnify {
        position: relative;
        width: auto;
        height: auto;
        box-shadow: none;
        display: inline-block;
        z-index: inherit;
    }

    .magnify>.magnify-lens {
        /* Magnifying lens */
        position: absolute;
        width: 20rem;
        height: 20rem;
        border-radius: 5%;
        /* Multiple box shadows to achieve the glass lens effect */
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
            0 0 7px 7px rgba(0, 0, 0, 0.25),
            inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
        cursor: none;
        display: none;
        z-index: 99;
    }

    .magnify>.magnify-lens.loading {
        background: #333 !important;
        opacity: 0.8;
    }

    .magnify>.magnify-lens.loading:after {
        /* Loading text */
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        color: #fff;
        content: 'Loading...';
        font: italic normal 16px/1 Calibri, sans-serif;
        letter-spacing: 1px;
        margin-top: -8px;
        text-align: center;
        text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
        text-transform: none;
    }
</style>
{% endblock %}

<!--header JS-->
{% block headerJS%}

{% endblock %}

<!---static directory-->
{% load static %}

<!--Home page body-->
{% block body %}
<section class="container sproduct my-4 pt-5">
    <div class="row mt-">
        <div class="col-lg-5 col-md-12 col-12">
            <img class="img-fluid w-100 zoom" id="product-image-{{item.id}}" src="/media/{{item.PRODUCT_IMAGE}}"
                data-magnify-src="/media/{{item.PRODUCT_IMAGE}}">
        </div>
        <div class="col-lg-6 col-md-12 col-12 ml-4">
            <h3 id="product-title-{{item.id}}"> {{item.PRODUCT_TITLE}} </h3>
            <hr style="max-width: 22rem;">
            <p style="display:inline;font-size:20px;">Price: ₹
            <h5 id="product-price-{{item.id}}" style="display:inline;color: maroon;font-size:26px;">{{item.PRODUCT_PRICE}}</h5>
            </p>
            <p id="product-soldby-{{ item.id }}" style="display: none;">{{ item.SOLD_BY }}</p>
            <h5 class="my-4"> About this item </h5>
            <p>{{item.PRODUCT_DESC|safe}}</p>
        </div>
    </div>
    </div>
    <hr style="opacity: 0.1;" class="mx-auto">
</section>
{% endblock %}

<!--Footer Block for Home Page-->
{% block footer %}
<div class="container-fluid" style="background-color: rgba(211, 211, 211, 0.767); margin-top: 50px;">
    <div class="row mt-3" style="height:200px;">
        <div class="col" style="max-width:400px ;">
            <img class="img-fluid" src="{% static 'footer_logo_gray.png'%}">
        </div>
        <div class="col" style="max-height: 400px;">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Links</th>
                        <th scope="col">Guide</th>
                        <th scope="col">User Account</th>
                        <th scope="col">Seller Account</th>
                    </tr>
                </thead>
                <tbody>
                    <!--table row 1-->
                    <tr>
                        <!--table data for Llinks-->
                        <td style="font-size: smaller;">Home</td>
                        <!--table data for Guid-->
                        <td style="font-size: smaller;">How to Signup?</td>
                        <!--table data for user-->
                        <td style="font-size: smaller;"><a class="text-dark" role="button" href="#" id="userloginbtn"
                                style="text-decoration: none;">User Login</a></td>
                        <!--table data for vendor-->
                        <td style="font-size: smaller;"><a href="/account/seller/" class="text-dark"
                                style="text-decoration: none">Seller Login</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: smaller;">Contact Us</td>
                        <td style="font-size: smaller;">How to Login?</td>
                        <td style="font-size: smaller;"><a class="text-dark" style="text-decoration: none;"
                                href="/account/buyer/registration/">User Signup</a></td>
                        <td style="font-size: smaller;">Seller Signup</td>
                    </tr>
                    <tr>
                        <td style="font-size: smaller;">About Us</td>
                        <td style="font-size: smaller;">How to add product?</td>
                        <td style="font-size: smaller;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col" style="max-width: 200px;">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Address</th>
                    </tr>
                </thead>
                <tbody>
                    <!--table row 1-->
                    <tr>
                        <!--table data for Address-->
                        <td style="font-size: smaller;">
                            21/6 CA Road,<br>
                            New York City,1800800
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center" style="text-align: center;font-size: smaller;">
        <p>copyright@2021</p>
    </div>
</div>
{% endblock %}

{% block javaScript %}
<script>
    /*!
  * jQuery Magnify Plugin v2.3.3 by T. H. Doan (https://thdoan.github.io/magnify/)
  * Based on http://thecodeplayer.com/walkthrough/magnifying-glass-for-images-using-jquery-and-css3
  *
  * jQuery Magnify by T. H. Doan is licensed under the MIT License.
  * Read a copy of the license in the LICENSE file or at https://choosealicense.com/licenses/mit/
  */

    (function ($) {
        $.fn.magnify = function (oOptions) {
            // Default options
            oOptions = $.extend({
                'src': '',
                'speed': 100,
                'timeout': -1,
                'touchBottomOffset': 0,
                'finalWidth': null,
                'finalHeight': null,
                'magnifiedWidth': null,
                'magnifiedHeight': null,
                'limitBounds': false,
                'mobileCloseEvent': 'touchstart',
                'afterLoad': function () { }
            }, oOptions);

            var $that = this, // Preserve scope
                $html = $('html'),

                // Initiate
                init = function (el) {
                    var $image = $(el),
                        $anchor = $image.closest('a'),
                        oDataAttr = {};

                    // Get data attributes
                    for (var i in oOptions) {
                        oDataAttr[i] = $image.attr('data-magnify-' + i.toLowerCase());
                    }

                    // Disable zooming if no valid large image source
                    var sZoomSrc = oDataAttr['src'] || oOptions['src'] || $anchor.attr('href') || '';
                    if (!sZoomSrc) return;

                    var $container,
                        $lens,
                        nImageWidth,
                        nImageHeight,
                        nMagnifiedWidth,
                        nMagnifiedHeight,
                        nLensWidth,
                        nLensHeight,
                        nBoundX = 0,
                        nBoundY = 0,
                        nPosX, nPosY,     // Absolute cursor position
                        nX, nY,           // Relative cursor position
                        oContainerOffset, // Relative to document
                        oImageOffset,     // Relative to container
                        // Get true offsets
                        getOffset = function () {
                            var o = $container.offset();
                            // Store offsets from container border to image inside
                            // NOTE: .offset() does NOT take into consideration image border and padding.
                            oImageOffset = {
                                'top': ($image.offset().top - o.top) + parseInt($image.css('border-top-width')) + parseInt($image.css('padding-top')),
                                'left': ($image.offset().left - o.left) + parseInt($image.css('border-left-width')) + parseInt($image.css('padding-left'))
                            };
                            o.top += oImageOffset['top'];
                            o.left += oImageOffset['left'];
                            return o;
                        },
                        // Hide the lens
                        hideLens = function () {
                            if ($lens.is(':visible')) $lens.fadeOut(oOptions['speed'], function () {
                                $html.removeClass('magnifying').trigger('magnifyend'); // Reset overflow-x
                            });
                        },
                        moveLens = function (e) {
                            // Reinitialize if image initially hidden
                            if (!nImageHeight) {
                                refresh();
                                return;
                            }
                            if (e) {
                                e.preventDefault();
                                // Save last coordinates in case we need to call this function directly (required when
                                // updating magnifiedWidth/magnifiedHeight while the lens is visible).
                                nPosX = e.pageX || e.originalEvent.touches[0].pageX;
                                nPosY = e.pageY || e.originalEvent.touches[0].pageY;
                                $image.data('lastPos', {
                                    'x': nPosX,
                                    'y': nPosY
                                });
                            } else {
                                nPosX = $image.data('lastPos').x;
                                nPosY = $image.data('lastPos').y;
                            }
                            // x/y coordinates of the mouse pointer or touch point. This is the position of
                            // .magnify relative to the document.
                            //
                            // We deduct the positions of .magnify from the mouse or touch positions relative to
                            // the document to get the mouse or touch positions relative to the container.
                            nX = nPosX - oContainerOffset['left'],
                                nY = (nPosY - oContainerOffset['top']) - oOptions['touchBottomOffset'];
                            // Toggle magnifying lens
                            if (!$lens.is(':animated')) {
                                if (nX > nBoundX && nX < nImageWidth - nBoundX && nY > nBoundY && nY < nImageHeight - nBoundY) {
                                    if ($lens.is(':hidden')) {
                                        $html.addClass('magnifying').trigger('magnifystart'); // Hide overflow-x while zooming
                                        $lens.fadeIn(oOptions['speed']);
                                    }
                                } else {
                                    hideLens();
                                }
                            }
                            if ($lens.is(':visible')) {
                                // Move the magnifying lens with the mouse
                                var sBgPos = '';
                                if (nMagnifiedWidth && nMagnifiedHeight) {
                                    // Change the background position of .magnify-lens according to the position of
                                    // the mouse over the .magnify-image image. This allows us to get the ratio of
                                    // the pixel under the mouse pointer with respect to the image and use that to
                                    // position the large image inside the magnifying lens.
                                    var nRatioX = -Math.round(nX / nImageWidth * nMagnifiedWidth - nLensWidth / 2),
                                        nRatioY = -Math.round(nY / nImageHeight * nMagnifiedHeight - nLensHeight / 2);
                                    if (oOptions['limitBounds']) {
                                        // Enforce bounds to ensure only image is visible in lens
                                        var nBoundRight = -Math.round((nImageWidth - nBoundX) / nImageWidth * nMagnifiedWidth - nLensWidth / 2),
                                            nBoundBottom = -Math.round((nImageHeight - nBoundY) / nImageHeight * nMagnifiedHeight - nLensHeight / 2);
                                        // Left and right edges
                                        if (nRatioX > 0) nRatioX = 0;
                                        else if (nRatioX < nBoundRight) nRatioX = nBoundRight;
                                        // Top and bottom edges
                                        if (nRatioY > 0) nRatioY = 0;
                                        else if (nRatioY < nBoundBottom) nRatioY = nBoundBottom;
                                    }
                                    sBgPos = nRatioX + 'px ' + nRatioY + 'px';
                                }
                                // Now the lens moves with the mouse. The logic is to deduct half of the lens's
                                // width and height from the mouse coordinates to place it with its center at the
                                // mouse coordinates. If you hover on the image now, you should see the magnifying
                                // lens in action.
                                $lens.css({
                                    'top': Math.round(nY - nLensHeight / 2) + oImageOffset['top'] + 'px',
                                    'left': Math.round(nX - nLensWidth / 2) + oImageOffset['left'] + 'px',
                                    'background-position': sBgPos
                                });
                            }
                        };

                    // Data attributes have precedence over options object
                    if (!isNaN(+oDataAttr['speed'])) oOptions['speed'] = +oDataAttr['speed'];
                    if (!isNaN(+oDataAttr['timeout'])) oOptions['timeout'] = +oDataAttr['timeout'];
                    if (!isNaN(+oDataAttr['finalWidth'])) oOptions['finalWidth'] = +oDataAttr['finalWidth'];
                    if (!isNaN(+oDataAttr['finalHeight'])) oOptions['finalHeight'] = +oDataAttr['finalHeight'];
                    if (!isNaN(+oDataAttr['magnifiedWidth'])) oOptions['magnifiedWidth'] = +oDataAttr['magnifiedWidth'];
                    if (!isNaN(+oDataAttr['magnifiedHeight'])) oOptions['magnifiedHeight'] = +oDataAttr['magnifiedHeight'];
                    if (oDataAttr['limitBounds'] === 'true') oOptions['limitBounds'] = true;
                    if (typeof window[oDataAttr['afterLoad']] === 'function') oOptions.afterLoad = window[oDataAttr['afterLoad']];

                    // Implement touch point bottom offset only on mobile devices
                    if (/\b(Android|BlackBerry|IEMobile|iPad|iPhone|Mobile|Opera Mini)\b/.test(navigator.userAgent)) {
                        if (!isNaN(+oDataAttr['touchBottomOffset'])) oOptions['touchBottomOffset'] = +oDataAttr['touchBottomOffset'];
                    } else {
                        oOptions['touchBottomOffset'] = 0;
                    }

                    // Save any inline styles for resetting
                    $image.data('originalStyle', $image.attr('style'));

                    // Activate magnification:
                    // 1. Try to get large image dimensions
                    // 2. Proceed only if able to get large image dimensions OK

                    // [1] Calculate the native (magnified) image dimensions. The zoomed version is only shown
                    // after the native dimensions are available. To get the actual dimensions we have to create
                    // this image object.
                    var elZoomImage = new Image();
                    $(elZoomImage).on({
                        'load': function () {
                            // [2] Got image dimensions OK.

                            // Fix overlap bug at the edges during magnification
                            $image.css('display', 'block');
                            // Create container div if necessary
                            if (!$image.parent('.magnify').length) {
                                $image.wrap('<div class="magnify"></div>');
                            }
                            $container = $image.parent('.magnify');
                            // Create the magnifying lens div if necessary
                            if ($image.prev('.magnify-lens').length) {
                                $container.children('.magnify-lens').css('background-image', 'url(\'' + sZoomSrc + '\')');
                            } else {
                                $image.before('<div class="magnify-lens loading" style="background:url(\'' + sZoomSrc + '\') 0 0 no-repeat"></div>');
                            }
                            $lens = $container.children('.magnify-lens');
                            // Remove the "Loading..." text
                            $lens.removeClass('loading');
                            // Cache dimensions and offsets for improved performance
                            // NOTE: This code is inside the load() function, which is important. The width and
                            // height of the object would return 0 if accessed before the image is fully loaded.
                            nImageWidth = oOptions['finalWidth'] || $image.width();
                            nImageHeight = oOptions['finalHeight'] || $image.height();
                            nMagnifiedWidth = oOptions['magnifiedWidth'] || elZoomImage.width;
                            nMagnifiedHeight = oOptions['magnifiedHeight'] || elZoomImage.height;
                            nLensWidth = $lens.width();
                            nLensHeight = $lens.height();
                            oContainerOffset = getOffset(); // Required by refresh()
                            // Set zoom boundaries
                            if (oOptions['limitBounds']) {
                                nBoundX = (nLensWidth / 2) / (nMagnifiedWidth / nImageWidth);
                                nBoundY = (nLensHeight / 2) / (nMagnifiedHeight / nImageHeight);
                            }
                            // Enforce non-native large image size?
                            if (nMagnifiedWidth !== elZoomImage.width || nMagnifiedHeight !== elZoomImage.height) {
                                $lens.css('background-size', nMagnifiedWidth + 'px ' + nMagnifiedHeight + 'px');
                            }
                            // Store zoom dimensions for mobile plugin
                            $image.data('zoomSize', {
                                'width': nMagnifiedWidth,
                                'height': nMagnifiedHeight
                            });
                            // Store mobile close event for mobile plugin
                            $container.data('mobileCloseEvent', oDataAttr['mobileCloseEvent'] || oOptions['mobileCloseEvent']);
                            // Clean up
                            elZoomImage = null;
                            // Execute callback
                            oOptions.afterLoad();
                            // Simulate a lens move to update positioning if magnifiedWidth/magnifiedHeight is
                            // updated while the lens is visible
                            if ($lens.is(':visible')) moveLens();
                            // Handle mouse movements
                            $container.off().on({
                                'mousemove touchmove': moveLens,
                                'mouseenter': function () {
                                    // Need to update offsets here to support accordions
                                    oContainerOffset = getOffset();
                                },
                                'mouseleave': hideLens
                            });

                            // Prevent magnifying lens from getting "stuck"
                            if (oOptions['timeout'] >= 0) {
                                $container.on('touchend', function () {
                                    setTimeout(hideLens, oOptions['timeout']);
                                });
                            }
                            // Ensure lens is closed when tapping outside of it
                            $('body').not($container).on('touchstart', hideLens);

                            // Support image map click-throughs while zooming
                            var sUsemap = $image.attr('usemap');
                            if (sUsemap) {
                                var $map = $('map[name=' + sUsemap.slice(1) + ']');
                                // Image map needs to be on the same DOM level as image source
                                $image.after($map);
                                $container.click(function (e) {
                                    // Trigger click on image below lens at current cursor position
                                    if (e.clientX || e.clientY) {
                                        $lens.hide();
                                        var elPoint = document.elementFromPoint(
                                            e.clientX || e.originalEvent.touches[0].clientX,
                                            e.clientY || e.originalEvent.touches[0].clientY
                                        );
                                        if (elPoint.nodeName === 'AREA') {
                                            elPoint.click();
                                        } else {
                                            // Workaround for buggy implementation of elementFromPoint()
                                            // See https://bugzilla.mozilla.org/show_bug.cgi?id=1227469
                                            $('area', $map).each(function () {
                                                var a = $(this).attr('coords').split(',');
                                                if (nX >= a[0] && nX <= a[2] && nY >= a[1] && nY <= a[3]) {
                                                    this.click();
                                                    return false;
                                                }
                                            });
                                        }
                                    }
                                });
                            }

                            if ($anchor.length) {
                                // Make parent anchor inline-block to have correct dimensions
                                $anchor.css('display', 'inline-block');
                                // Disable parent anchor if it's sourcing the large image
                                if ($anchor.attr('href') && !(oDataAttr['src'] || oOptions['src'])) {
                                    $anchor.click(function (e) {
                                        e.preventDefault();
                                    });
                                }
                            }

                        },
                        'error': function () {
                            // Clean up
                            elZoomImage = null;
                        }
                    });

                    elZoomImage.src = sZoomSrc;
                }, // END init()

                // Simple debounce
                nTimer = 0,
                refresh = function () {
                    clearTimeout(nTimer);
                    nTimer = setTimeout(function () {
                        $that.destroy();
                        $that.magnify(oOptions);
                    }, 100);
                };

            /**
             * Public Methods
             */

            // Turn off zoom and reset to original state
            this.destroy = function () {
                this.each(function () {
                    var $this = $(this),
                        $lens = $this.prev('div.magnify-lens'),
                        sStyle = $this.data('originalStyle');
                    if ($this.parent('div.magnify').length && $lens.length) {
                        if (sStyle) $this.attr('style', sStyle);
                        else $this.removeAttr('style');
                        $this.unwrap();
                        $lens.remove();
                    }
                });
                // Unregister event handler
                $(window).off('resize', refresh);
                return $that;
            }

            // Handle window resizing
            $(window).resize(refresh);

            return this.each(function () {
                // Initiate magnification powers
                init(this);
            });

        };
    }(jQuery));

</script>
<script>

    $('#show-more-content').hide();

    $('#show-more').click(function () {
        $('#show-more-content').show(300);
        $('#show-less').show();
        $('#show-more').hide();
    });

    $('#show-less').click(function () {
        $('#show-more-content').hide(150);
        $('#show-more').show();
        $(this).hide();
    });
</script>


<!--for magnify image-->
<script>
    $(document).ready(function () {
        $('.zoom').magnify();
    });

</script>
{% endblock %}