<!--Load basic.html page-->
{% extends 'basic.html' %}

<!--add title for this page-->
{% block title %}eStore | Samsung{% endblock %}

<!--add navbar brand for this page-->
{% block nav-brand %}<span style="font-family: 'Baloo Tammudu 2', cursive;">eStore</span>{% endblock %}

<!--add home navigation-->
{% block nav-home %}<a href="/" class="nav-link">Home</a>{% endblock %}

<!--add contact navigation-->
{% block nav-contact %}<a href="/contact/" class="nav-link">Contact</a>{% endblock %}

<!--add about navigation-->
{% block nav-about %}<a href="/about/" class="nav-link">About</a>{% endblock %}

<!--load static folder-->
{% load static %}

<!--style tag-->
{% block style %}
<style>
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        text-align: center;
    }

    /* tabs */
    .tab-list {
        display: flex;
        cursor: pointer;
        margin-right: auto;
        margin-left: auto;
    }

    .tab-item {
        flex-grow: 1;
        width: 10rem;
        transition: width 0.5s;
        font-size: 1.3rem;
    }

    /* content */
    .content-list {
        width: 100%;
    }

    .content-item {
        display: none;
        height: 200p;
        line-height: 200p;
    }

    .tab-item.is-active {
        width: 10rem;
        font-weight: bold;
        text-decoration: underline;
    }

    .content-item.is-active {
        display: block;
    }

    ::before,
    ::after {
        padding: 0;
        margin: 0;
    }
</style>
{% endblock %}

<!--body-->
{% block body %}
<!--carousel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'Annotation 2021-06-17 181002.png' %}" class="d-block w-100" alt="image"
                style="height: 30rem; width:20rem; ">
        </div>
        <div class="carousel-item">
            <img src="{% static 'Annotation 2021-06-17 181227.png' %}" class="d-block w-100" alt="image"
                style="height: 30rem; width: 20rem;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'Annotation 2021-06-17 181859.png' %}" class="d-block w-100" alt="image"
                style="height: 30rem; width: 25rem;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--smartphone heading-->
<div style="margin-top: 7rem; margin-left: 5rem; background-color: lightgrey; width: 7.4rem;">
    <h1 class="display-2" style="font-family: 'Josefin Sans', sans-serif; letter-spacing: 0.5rem;">Products</h1>
</div>
<!--Tablet heading-->
<div style="text-align: center; margin-top: 4rem;">
    <h2 style="letter-spacing: 1.5px;font-size:2.6rem;"><strong>Smartphones and
            Tablets</strong></h2>
</div>

<!-- Card Start for smartphone-->
<div class="wrapper container">
    <ul class="tab-list">
        <li class="tab-item is-active" style="list-style-type: none;">Z series</li>
        <li class="tab-item" style="list-style-type: none;">S series</li>
        <li class="tab-item" style="list-style-type: none;">Note series</li>
        <li class="tab-item" style="list-style-type: none;">A series</li>
        <li class="tab-item" style="list-style-type: none;">M series</li>
        <li class="tab-item" style="list-style-type: none;">F series</li>
        <li class="tab-item" style="list-style-type: none;">Tablets</li>
    </ul>
    <!-- card start for z series-->
    <ul class="content-list">
        <li class="content-item is-active">
            <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 2rem; ">
                {% for galaxyz in galaxy_z_mobile %}
                <div class="col">
                    <div class="card h-100"
                        style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;"">
                        <a href=" ..."><img src="/media/{{ galaxyz.PRODUCT_IMAGE }}" class="card-img-top"
                            id="product-image-{{ galaxyz.id }}" alt="image"></a>
                        <div class="card-body" style="text-align: center;">
                            <a href="" style="text-decoration: none; color: black;">
                                <h5 class="card-title" id="product-title-{{ galaxyz.id }}"
                                    style="font-size:medium;font-family: 'Baloo Tammudu 2', cursive;">{{ galaxyz.PRODUCT_TITLE }}</h5>
                            </a>
                            <p class="card-text">₹<strong id="product-price-{{ galaxyz.id }}">{{ galaxyz.PRODUCT_PRICE }}</strong></p>
                            <p id="product-soldby-{{ galaxyz.id }}" style="display: none;">{{ galaxyz.SOLD_BY }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="{{ galaxyz.id }}"
                                class="btn border border-dark btn-sm cart-button"
                                style="border-radius:30px; float: left;width:80px;height: 30px;"><img
                                    src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                            <a role="button" href="/products/product-details/{{galaxyz.id}}/"
                                class="btn border border-dark btn-sm"
                                style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        <!-- Card end for z series-->
        <!-- Card start for s series-->
        <li class="content-item">
            <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 3rem;">
                {% for galaxys in galaxy_s_mobile %}
                <div class="col">
                    <div class="card h-100"
                        style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                        <a href="..."><img src="/media/{{ galaxys.PRODUCT_IMAGE }}" class="card-img-top"
                                id="product-image-{{ galaxys.id }}" alt="image"></a>
                        <div class="card-body" style="text-align: center;">
                            <a href="" style="text-decoration: none; color: black;">
                                <h5 class="card-title" id="product-title-{{ galaxys.id }}"
                                    style="font-size:medium;font-family: 'Baloo Tammudu 2', cursive;">{{ galaxys.PRODUCT_TITLE }}</h5>
                            </a>
                            <p class="card-text">₹<strong id="product-price-{{ galaxys.id }}">{{ galaxys.PRODUCT_PRICE }}</strong></p>
                            <p id="product-soldby-{{ galaxys.id }}" style="display: none;">{{ galaxys.SOLD_BY }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="{{ galaxys.id }}"
                                class="btn border border-dark btn-sm cart-button"
                                style="border-radius: 1rem;float: left;width:80px;height: 30px;"><img
                                    src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                            <a role="button" href="/products/product-details/{{galaxys.id}}/"
                                class="btn border border-dark btn-sm"
                                style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        <!-- Card end for s series-->
        <!-- Card start for note series-->
        <li class="content-item">
            <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 2rem;">
                {% for galaxynote in galaxy_note_mobile %}
                <div class="col">
                    <div class="card h-100"
                        style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                        <a href="..."><img src="/media/{{ galaxynote.PRODUCT_IMAGE }}" class="card-img-top"
                                id="product-image-{{ galaxynote.id }}" alt="image"></a>
                        <div class="card-body" style="text-align: center;">
                            <a href="" style="text-decoration: none; color: black;">
                                <h5 class="card-title" id="product-title-{{ galaxynote.id }}"
                                    style="font-size:medium;font-family: 'Baloo Tammudu 2', cursive;">{{ galaxynote.PRODUCT_TITLE }}</h5>
                            </a>
                            <p class="card-text">₹<strong id="product-price-{{ galaxynote.id }}">{{ galaxynote.PRODUCT_PRICE }}</strong></p>
                                    <p id="product-soldby-{{ galaxynote.id }}" style="display: none;">{{ galaxynote.SOLD_BY }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="{{ galaxynote.id }}"
                                class="btn border border-dark btn-sm cart-button"
                                style="border-radius: 1rem; float: left;width:80px;height: 30px;"><img
                                    src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                            <a role="button" href="/products/product-details/{{galaxynote.id}}/"
                                class="btn border border-dark btn-sm"
                                style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        <!-- Card end for note series-->
        <!-- Card start for a series-->
        <li class="content-item">
            <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 3rem;">
                {% for galaxya in galaxy_a_mobile %}
                <div class="col">
                    <div class="card h-100"
                        style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                        <a href="..."><img src="/media/{{ galaxya.PRODUCT_IMAGE }}" class="card-img-top"
                                id="product-image-{{ galaxya.id }}" alt="image"></a>
                        <div class="card-body" style="text-align: center;">
                            <a href="" style="text-decoration: none; color: black;">
                                <h5 class="card-title" id="product-title-{{ galaxya.id }}"
                                    style="font-size:medium;font-family: 'Baloo Tammudu 2', cursive;">{{ galaxya.PRODUCT_TITLE }}</h5>
                            </a>
                            <p class="card-text">₹<strong id="product-price-{{ galaxya.id }}">{{ galaxya.PRODUCT_PRICE }}</strong></p>
                                    <p id="product-soldby-{{ galaxya.id }}" style="display: none;">{{ galaxya.SOLD_BY }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="{{ galaxya.id }}"
                                class="btn border border-dark btn-sm cart-button"
                                style="border-radius: 1rem;float: left;width:80px;height: 30px;"><img
                                    src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                            <a role="button" href="/products/product-details/{{galaxya.id}}/"
                                class="btn border border-dark btn-sm"
                                style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        <!-- Card end for a series-->
        <!-- Card start for m series-->
        <li class="content-item">
            <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 3rem;">
                {% for galaxym in galaxy_m_mobile %}
                <div class="col">
                    <div class="card h-100"
                        style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                        <a href="..."><img src="/media/{{ galaxym.PRODUCT_IMAGE }}" class="card-img-top"
                                id="product-image-{{ galaxym.id }}" alt="image"></a>
                        <div class="card-body" style="text-align: center;">
                            <a href="" style="text-decoration: none; color: black;">
                                <h5 class="card-title" id="product-title-{{ galaxym.id }}"
                                    style="font-size:medium;font-family: 'Baloo Tammudu 2', cursive;">{{ galaxym.PRODUCT_TITLE}}</h5>
                            </a>
                            <p class="card-text">₹<strong id="product-price-{{ galaxym.id }}">{{ galaxym.PRODUCT_PRICE}}</strong></p>
                                    <p id="product-soldby-{{ galaxym.id }}" style="display: none;">{{ galaxym.SOLD_BY }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="{{ galaxym.id }}"
                                class="btn border border-dark btn-sm cart-button"
                                style="border-radius: 1rem;float: left;width:80px;height: 30px;"><img
                                    src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                            <a role="button" href="/products/product-details/{{galaxym.id}}/"
                                class="btn border border-dark btn-sm"
                                style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        <!-- Card end for m series-->
        <!-- Card start for f series-->
        <li class="content-item">
            <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 3rem;">
                {% for galaxyf in galaxy_f_mobile %}
                <div class="col">
                    <div class="card h-100"
                        style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                        <a href="#"><img src="/media/{{ galaxyf.PRODUCT_IMAGE }}" class="card-img-top"
                                id="product-image-{{ galaxyf.id }}" alt="image"></a>
                        <div class="card-body" style="text-align: center;">
                            <a href="" style="text-decoration: none; color: black;">
                                <h5 class="card-title" id="product-title-{{ galaxyf.id }}"
                                    style="font-size:medium;font-family: 'Baloo Tammudu 2', cursive;">{{ galaxyf.PRODUCT_TITLE}}</h5>
                            </a>
                            <p class="card-text">₹<strong id="product-price-{{ galaxyf.id }}">{{ galaxyf.PRODUCT_PRICE }}</strong></p>
                                    <p id="product-soldby-{{ galaxyf.id }}" style="display: none;">{{ galaxyf.SOLD_BY }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="{{ galaxyf.id }}"
                                class="btn border border-dark btn-sm cart-button"
                                style="border-radius: 1rem;float: left;width:80px;height: 30px;"><img
                                    src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                            <a role="button" href="/products/product-details/{{galaxyf.id}}/"
                                class="btn border border-dark btn-sm"
                                style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        <!-- Card end for f series-->
        <!--Card start for tab-->
        <li class="content-item">
            <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 2rem;">
                {% for galaxytab in galaxy_tablet %}
                <div class="col">
                    <div class="card" style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                        <a href="..."><img src="/media/{{ galaxytab.PRODUCT_IMAGE }}" class="card-img-top"
                                id="product-image-{{ galaxytab.id }}" alt="image"></a>
                        <div class="card-body" style="text-align: center;">
                            <a href="" style="text-decoration: none; color: black;">
                                <h5 class="card-title" id="product-title-{{ galaxytab.id }}"
                                    style="font-size:medium;font-family: 'Baloo Tammudu 2', cursive;">{{ galaxytab.PRODUCT_TITLE }}</h5>
                            </a>
                            <p class="card-text">₹<strong id="product-price-{{ galaxytab.id }}">{{ galaxytab.PRODUCT_PRICE }}</strong></p>
                                    <p id="product-soldby-{{ galaxytab.id }}" style="display: none;">{{ galaxytab.SOLD_BY }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="{{ galaxytab.id }}"
                                class="btn border border-dark btn-sm cart-button"
                                style="border-radius: 1rem; float: left;width:80px;height: 30px;"><img
                                    src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                            <a role="button" href="/products/product-details/{{galaxytab.id}}/"
                                class="btn border border-dark btn-sm"
                                style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        <!--Card end for tab-->
    </ul>
</div>
<!-- Card end for smartphone-->
<div style="text-align: center; margin-top: 4rem;">
    <h2 style="letter-spacing: 1.5px;font-size:2.6rem;"><strong>Televisions</strong>
    </h2>
</div>
<!--Card start for televisions-->
<div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 1.5rem;">
        {% for samsungtv in samsung_smart_tvs %}
        <div class="col">
            <div class="card h-100" style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                <a href="..." id="link1"><img src="/media/{{ samsungtv.PRODUCT_IMAGE }}"
                        id="product-image-{{ samsungtv.id }}" class="card-img-top" alt="image"></a>
                <div class="card-body" style="text-align: center;">
                    <a href="" style="text-decoration: none; color: black;">
                        <h6 class="card-title" id="product-title-{{ samsungtv.id }}">{{ samsungtv.PRODUCT_TITLE }}</h6>
                    </a>
                    <p class="card-text">₹<strong id="product-price-{{ samsungtv.id }}">{{ samsungtv.PRODUCT_PRICE }}</strong></p>
                            <p id="product-soldby-{{ samsungtv.id }}" style="display: none;">{{ samsungtv.SOLD_BY }}</p>
                </div>
                <div class="card-footer">
                    <button type="button" id="{{ samsungtv.id }}" class="btn border border-dark btn-sm cart-button"
                        style="border-radius: 1rem;width:80px;height: 30px;"><img
                            src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                    <a role="button" href="/products/product-details/{{samsungtv.id}}/"
                        class="btn border border-dark btn-sm"
                        style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--Card end for televisions-->
<div style="text-align: center; margin-top: 4rem;">
    <h2 style="letter-spacing: 1.5px;font-size:2.6rem;"><strong>Refrigerator</strong></h2>
</div>
<!--Card start for refrigerator-->
<div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-2" style="margin-top: 1.5rem;">
        {% for samsung_ref in samsung_refrigerators%}
        <div class="col">
            <div class="card h-100" style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                <a href="..." id="link1"><img src="/media/{{ samsung_ref.PRODUCT_IMAGE}}"
                        id="product-image-{{samsung_ref.id}}" class="card-img-top" alt="image"></a>
                <div class="card-body" style="text-align: center;">
                    <a href="" style="text-decoration: none; color: black;">
                        <h6 class="card-title" id="product-title-{{samsung_ref.id}}">{{samsung_ref.PRODUCT_DESC}}</h6>
                    </a>
                    <p class="card-text">₹<strong id="product-price-{{ samsung_ref.id }}">{{ samsung_ref.PRODUCT_PRICE }}</strong></p>
                    <p id="product-soldby-{{ samsung_ref.id }}" style="display: none;">{{ samsung_ref.SOLD_BY }}</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn border border-dark btn-sm cart-button" id="{{samsung_ref.id}}"
                        style="border-radius: 1rem;width:80px;height: 30px;"><img
                            src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                    <a role="button" href="/products/product-details/{{samsung_ref.id}}/"
                        class="btn border border-dark btn-sm"
                        style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--Card end for refrigerator-->
<div style="text-align: center; margin-top: 4rem;">
    <h2 style="letter-spacing: 1.5px;font-size:2.6rem;"><strong>Washing Machines</strong></h2>
</div>
<!--Card start for washing machines-->
<div class="container">
    <div class="row row-cols-1 row-cols-md-5 g-2" style="margin-top: 1.5rem; ">
        {% for washingmachine in samsung_washing_machine %}
        <div class="col">
            <div class="card h-100" style="background-color:white; border: none;box-shadow:0px 0px 10px #ECECEC ;">
                <a href="..." id="link1"><img src="/media/{{ washingmachine.PRODUCT_IMAGE}}"
                        id="product-image-{{ washingmachine.id }}" class="card-img-top" alt="image"></a>
                <div class="card-body" style="text-align: center;">
                    <a href="" style="text-decoration: none; color: black;">
                        <h6 class="card-title" id="product-title-{{ washingmachine.id }}">{{ washingmachine.PRODUCT_TITLE }}</h6>
                    </a>
                    <p class="card-text">₹<strong id="product-price-{{ washingmachine.id }}">{{ washingmachine.PRODUCT_PRICE }}</strong></p>
                            <p id="product-soldby-{{ washingmachine.id }}" style="display: none;">{{ washingmachine.SOLD_BY }}</p>
                </div>
                <div class="card-footer">
                    <button type="button" id="{{ washingmachine.id }}" class="btn border border-dark btn-sm cart-button"
                        style="border-radius: 1rem;width:80px;height: 30px;"><img
                            src="{% static 'baseline_add_shopping_cart_black_24dp.png' %}"></button>
                    <a role="button" href="/products/product-details/{{washingmachine.id}}/"
                        class="btn border border-dark btn-sm"
                        style="float: right;border-radius:30px;width:80px;height:30px;font-size:medium;">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--Card end for washing machine-->
{% endblock %}

<!--JavaScript-->
{% block javaScript %}
<script type="text/javascript">
    const tabItems = document.querySelectorAll('.tab-item')
    const contentItems = document.querySelectorAll('.content-item')

    const clearActiveClass = (element, className = 'is-active') => {
        element.forEach(item => item.classList.remove(`${className}`)
        )
    }


    const setActiveClass = (element, index, className = 'is-active') => {
        element[index].classList.add(`${className}`)
    }

    const checkoutTabs = (item, index) => {
        item.addEventListener('click', () => {
            if (item.classList.contains('is-active')) return

            const currentItem = index

            clearActiveClass(tabItems)
            clearActiveClass(contentItems)

            setActiveClass(tabItems, currentItem)
            setActiveClass(contentItems, currentItem)
        })
    }
    tabItems.forEach(checkoutTabs)
</script>

{% endblock %}

<!--Footer Start-->
{% block footer %}

{% endblock %}